.home-title{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

input[type=search]{
  box-shadow: none;
  border-radius: 10%;
}


.top-bar, .top-bar ul{
  background-color: #333333;
}

.top-bar .menu-text {
  color: #fff;
}

.top-bar .menu > .menu-text > a {
  display: inline;
  padding: 0;
}

.top-bar .active-link{
  font-weight: bold;
}

.clock {
  align-items: center;
  background-color: red;
  border: 3px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 14rem;
  width: 14rem;
  margin: 2rem auto;
}
.clock-text{
  color: #fff;
  font-size: 2.25rem;
  font-weight: 300;
}
